.idea/
*.iml

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

target/

application-secrets.properties

# static gets replaced by gitmodule during Dockerfile build
ac-nh-turnip-prices-with-friends/src/main/resources/static

*.tar
